<!-- Author: yaile -->

@model ITrack.Data.ViewModels.DirectionListViewModel

@{ ViewData["Title"] = "Development directions"; }

<div class="col" style="padding-top: 36px;">
    <div class="container">
        <div class="d-flex flex-row justify-content-between align-items-center">
            <div class="d-flex flex-row align-items-start flex-nowrap">
                <h1 class="fw-bold" style="margin-right: 16px;">@ViewData["Title"]</h1>
                <a asp-area="Panel" asp-controller="Directions" asp-action="Create" class="btn btn-primary fw-semibold ms-md-2" style="margin-top: 5px;">Add new<i class="typcn typcn-plus" style="margin-left: 8px;"></i></a>
            </div>
            <div>
                <a class="@(Model.ViewType == "table" ? "link-primary" : "link-secondary")"
                   asp-area="Panel"
                   asp-controller="Directions"
                   asp-action="Index"
                   asp-route-viewType="table"><i class="typcn typcn-th-menu" style="margin-right: 8px;"></i></a>

                <a class="@(Model.ViewType == "cards" ? "link-primary" : "link-secondary")"
                   asp-area="Panel"
                   asp-controller="Directions"
                   asp-action="Index"
                   asp-route-viewType="cards"><i class="typcn typcn-th-large"></i></a>
            </div>
        </div>
        <p>There you can see all development directions & manage them</p>

        @if (Model.ViewType == "cards")
        {
            <div class="row">
                @foreach (var direction in Model.Directions)
                {
                    <div class="col-md-3 mb-3">
                        <div class="card border-primary">
                            <div class="card-body text-primary">
                                <div class="text-start d-flex flex-row justify-content-between">
                                    <div>
                                        <i class="typcn typcn-code fs-4 text-primary" style="margin-right: 8px;"></i>
                                        <a class="fs-4 fw-semibold link-primary text-decoration-none" asp-area="Panel" asp-controller="Directions" asp-action="Edit" asp-route-id="@direction.DirectionID">
                                            @{
                                                var displayName = direction.DirectionName;
                                                if (!string.IsNullOrEmpty(direction.DirectionName) && direction.DirectionName.Length > 16)
                                                {
                                                    displayName = direction.DirectionName.Substring(0, 16) + "...";
                                                }
                                            }
                                            @displayName
                                        </a>
                                    </div>
                                    <a class="btn link-primary" asp-area="Panel" asp-controller="Directions" asp-action="Edit" asp-route-id="@direction.DirectionID">
                                        <i class="typcn typcn-arrow-right-thick"></i>
                                    </a>
                                </div>
                                <a asp-area="Panel" asp-controller="Directions" asp-action="Edit" asp-route-id="@direction.DirectionID" class="btn btn-primary" style="margin-top: 12px;margin-right: 8px;">Edit</a>
                                <form asp-area="Panel" asp-controller="Directions" asp-action="Delete" asp-route-id="@direction.DirectionID" method="post" class="d-inline">
                                    <button class="btn btn-outline-primary" type="submit" style="margin-top: 12px;margin-right: 8px;">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else if (Model.ViewType == "table")
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var direction in Model.Directions)
                    {
                        <tr>
                            <td>
                                <a asp-area="Panel" asp-controller="Directions" asp-action="Edit" asp-route-id="@direction.DirectionID" class="nav-link no-pt">@direction.DirectionName</a>
                            </td>
                            <td>
                                <a asp-area="Panel" asp-controller="Directions" asp-action="Edit" asp-route-id="@direction.DirectionID" class="btn btn-primary btn-sm">Edit</a>
                                <form asp-area="Panel" asp-controller="Directions" asp-action="Delete" asp-route-id="@direction.DirectionID" method="post" class="d-inline">
                                    <button type="submit" class="btn btn-outline-primary btn-sm">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

<!-- Pagination -->
<nav aria-label="Pagination" class="mt-auto">
    <ul class="pagination justify-content-center">
        @if (Model.PageViewModel.HasPreviousPage)
        {
            <li class="page-item">
                <a class="page-link"
                   asp-area="Panel"
                   asp-controller="Directions"
                   asp-action="Index"
                   asp-route-page="@(Model.PageViewModel.PageNumber - 1)">&laquo;</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link">&laquo;</span>
            </li>
        }
        @for (int i = 1; i <= Model.PageViewModel.TotalPages; i++)
        {
            if (i == Model.PageViewModel.PageNumber)
            {
                <li class="page-item active">
                    <span class="page-link">@i</span>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link"
                       asp-area="Panel"
                       asp-controller="Directions"
                       asp-action="Index"
                       asp-route-page="@i">@i</a>
                </li>
            }
        }
        @if (Model.PageViewModel.HasNextPage)
        {
            <li class="page-item">
                <a class="page-link"
                   asp-area="Panel"
                   asp-controller="Directions"
                   asp-action="Index"
                   asp-route-page="@(Model.PageViewModel.PageNumber + 1)">&raquo;</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link">&raquo;</span>
            </li>
        }
    </ul>
</nav>
